<div class="banner h-500" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("qrdpwawowlwcj92wdvca", crop: :fill) %>')">
  <div class="container">
    <h1>Have a look at my list of movies!</h1>
    <p>Enjoy with popcorn and friends</p>
  </div>
</div>
